<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Descriptio:</strong>
  <%= @category.descriptio %>
</p>

<p>
  <strong>User:</strong>
  <%= @category.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @category.comment_id %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @category.is_active %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
